<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <h1>Catalog</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each=" item : ${catalog}">
                <th></th>
                <td th:text="${{item.getName()}}"></td>
                <td th:text="${{item.getPrice()}}"></td>
                <td>
                    <form th:action="@{|/catering/deleteFromCatalog/${item.getId()}|}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{|/catering/catalog/edit/${item.getId()}|}" method="get">
                        <button type="submit" class="btn btn-warning">Edit</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
