<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <h1>Catering Management</h1>
        <hr>
        <h2>Add Item to Catalog</h2>
        <form action="#" th:action="@{/catering/addToFoodCatalog}" th:object="${newFoodItemForm}" method="post">
            <div>
                <p class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" th:field="*{name}">
                <p th:if="${#fields.hasErrors('name')}"
                   th:text="${#strings.listJoin(#fields.errors('name'), ', ')}"></p>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" step="any" class="form-control" id="price" placeholder="Enter Price"
                       th:field="*{price}">
                <p th:if="${#fields.hasErrors('price')}"
                   th:text="${#strings.listJoin(#fields.errors('price'), ', ')}"></p>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>
</body>
</html>
