<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <h1>Catering Management</h1>
        <hr>
        <h2>Add Item to Catalog</h2>
        <form action="#" th:action="@{/catering/addToFoodCatalog}" th:object="${foodItemForm}" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name" th:field="*{name}">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" step="any" class="form-control" id="price" placeholder="Enter Price" th:field="*{price}">
            </div>
            <div class="form-group">
<!--                TODO: change hardcoded value to festival id from userAccount -->
                <input type="hidden" value="6" class="form-control" id="festival_id" th:field="*{festivalId}">
                <script>
                    document.getElementById("festival_id").value = "6"
                </script>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>
</body>
</html>
