<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <style>
        .error-template {
            padding: 40px 15px;
            text-align: center;
        }
        
        .error-actions {
            margin-top: 15px;
            margin-bottom: 15px;
        }
        
        .error-actions .btn {
            margin-right: 10px;
        }
    </style>
</head>

<body>
    <section layout:fragment="content">
        <!-- BEGIN:DETAIL -->
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="error-template">
                        <h1>Oops!</h1>
                        <h2 th:text="#{|${status}_name|}">404 Not Found</h2>
                        <div class="error-details" th:text="#{|${status}_desc|}">
                            Sorry, an error has occured, Requested page not found!
                        </div>
                        <div class=" error-actions ">
                            <a href="/ " th:href="@{/} " class="btn btn-primary btn-lg "><span
                                    class="glyphicon glyphicon-home "></span>
                                Take Me Home </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>