<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
</head>

<body>
    <section layout:fragment="content">
        <!-- BEGIN:DETAIL -->
        <div class="container">
            <div class="row d-flex justify-content-center">
                <form style="margin-top: 50px;" method="post" role="form" th:action="@{/festival/new}" th:object="${festival}">
                    <div class="mb-3">
                        <label for="name" class="form-label" th:text="#{festival.name}">Name</label>
                        <input type="text" th:field="*{name}" class="form-control " id="name">
                        <div th:if="${#fields.hasErrors('name')} " th:errors="*{name}">
                            <p th:text="#{festival.not_empty} ">Das Feld darf nicht leer sein.</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="beginDate" class="form-label" th:text="#{festival.beginDate}">beginDate</label>
                        <input type="date" th:field="*{beginDate}" class="form-control " id="beginDate" onchange="updateEndDate()">
                        <div th:if="${#fields.hasErrors('beginDate')} " th:errors="*{beginDate}">
                            <p th:text="#{festival.not_empty} ">Das Feld darf nicht leer sein.</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="endDate" class="form-label" th:text="#{festival.endDate}">endDate</label>
                        <input type="date" th:field="*{endDate}" class="form-control " id="endDate">
                        <div th:if="${#fields.hasErrors('endDate')} " th:errors="*{endDate}">
                            <p th:text="#{festival.not_empty} ">Das Feld darf nicht leer sein.</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="information" class="form-label" th:text="#{festival.information}">information</label>
                        <input type="text" th:field="*{information}" class="form-control " id="information">
                        <div th:if="${#fields.hasErrors('information')} " th:errors="*{information}">
                            <p th:text="#{festival.not_empty} ">Das Feld darf nicht leer sein.</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label" th:text="#{festival.location}">location</label>
                        <select class="form-select" th:field="*{locationIdentifier}" aria-label="Location Select">
                            <option th:each="location : ${locations}" th:value="${location.id}"
                                th:text="${location.name}">
                        </select>
                        <div th:if="${#fields.hasErrors('location')} " th:errors="*{location}">
                            <p th:text="#{festival.not_empty} ">Das Feld darf nicht leer sein.</p>
                        </div>
                    </div>
                    <button type="submit " class="btn btn-primary " th:text="#{festival.add} ">Submit</button>
                </form>
            </div>
        </div>
        <script type="text/javascript">
            function dateToString(date) {
                var dd = date.getDate();
                var mm = date.getMonth() + 1;
                var yyyy = date.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd
                }
                if (mm < 10) {
                    mm = '0' + mm
                }

                return yyyy + '-' + mm + '-' + dd;
            }

            function stringToDate(string) {
                return Date.parse(string);
            }

            function updateEndDate() {
                var begin = document.querySelector("#beginDate");
                var end = document.querySelector("#endDate");
                end.setAttribute("min", document.querySelector("#beginDate").value);
                if (end.value == "") {
                    end.value = begin.value;
                }
                if (stringToDate(end.value) < stringToDate(begin.value)) {
                    end.value = begin.value;
                }
            }

            function init() {
                var begin = document.querySelector("#beginDate");
                var end = document.querySelector("#endDate");

                // set min date to today
                begin.setAttribute("min", dateToString(new Date()));
                end.setAttribute("min", dateToString(new Date()));
            }
            init();
        </script>
        <!-- END:DETAIL -->
    </section>
</body>