<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
</head>

<body>
    <section layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Festivals</h1>
                    <div class="row" th:if="${error}">
                        <div class="col-md-12">
                            <div class="alert alert-danger">
                                <strong th:text="#{${error}}">Error!</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row" th:each="err : ${errors}">
                        <div class="col-md-12">
                            <div class="alert alert-danger">
                                <strong th:text="${err}">Error!</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 card" style="padding: 15px; margin-top: 15px;">
                            <a class="btn btn-primary" href="/festival/new" th:href="@{/festival/new}">Neu</a>
                        </div>
                    </div>
                    <br>
                    <div class="container" th:each="festival : ${festivals}">
                        <div class="row d-flex justify-content-center">
                            <div class="card shadow-lg" style="padding-top: 15px;">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${festival.name}">Festival 1</h5>
                                    <p>
                                        <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-MM-dd')}">
                                            <span class="card-text" th:text="${#dates.format(sdf.parse(festival.beginDate), 'dd.MM.yyyy')}">Start
                                                Datum</span> -
                                            <span class="card-text" th:text="${#dates.format(sdf.parse(festival.endDate), 'dd.MM.yyyy')}">End
                                                Datum</span>
                                        </th:block>
                                    </p>
                                    <br>
                                    <a th:href="@{|/festival/${festival.id}/edit|}"><img src="/resources/images/edit.png" style="width:64px;"></a>
                                    <a th:href="@{|/festival/${festival.id}/delete|}"><img src="/resources/images/delete.png" style="width:64px;"></a>
                                    <a th:unless="${festival.isPublished}" th:href="@{|/publish/${festival.id}|}"><img src="/resources/images/publish.png" style="width: 64px;"></a>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>