<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
</head>

<body>
    <section layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Finanzen</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Name
                                </th>
                                <th scope="col">
                                    Anzahl
                                </th>
                                <th scope="col">
                                    Preis pro Einheit in cents
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="entry : ${data}">
                                <td scope="row">
                                    <span th:text="${entry.key}"></span>
                                </td>
                                <td>
                                    <span th:text="${entry.value.amount}"></span>
                                </td>
                                <td>
                                    <span th:text="${entry.value.price}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Summe:
                                </td>
                                <td>

                                </td>
                                <td>
                                    <span th:text="${sum}"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>

</html>