<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <style>
        a {
            color: black;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <section layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Festivals</h1>
                    <div th:if="${error}">
                        <h2 th:text="#{${error}}"></h2>
                    </div>
                    <div class="container" th:each="festival : ${festivals}">
                        <a th:href="@{/festival/{id}(id=${festival.id})}">
                            <div class="row d-flex justify-content-center">
                                <div class="card shadow-lg" style="padding-top: 15px;">
                                    <img class="card-img-top shadow-lg" src="https://www.tagesspiegel.de/images/rock-concert-/27425484/4-format6001.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-MM-dd')}">
                                            <h5 class="card-title" th:text="${festival.name}">Festival 1</h5>
                                            <span class="card-text" th:text="${#dates.format(sdf.parse(festival.beginDate), 'dd.MM.yyyy')}">Start
                                                Datum</span> -
                                            <span class="card-text" th:text="${#dates.format(sdf.parse(festival.endDate), 'dd.MM.yyyy')}">End
                                                Datum</span>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>