<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
</head>
<body>
<section layout:fragment="content">

    <!--
       <div class="container" style="margin-top: 15px;">
           <div class="row" th:if="${error}">
               <div class="col-md-12">
                   <div class="alert alert-danger">
                       <strong th:text="#{${error}}">Error!</strong>
                   </div>
               </div>
           </div>
           <div class="row d-flex justify-content-center">
               <div class=" row d-flex justify-content-center ">
                   <div class="card shadow-lg " style="padding-top: 15px; margin-top:15px; ">
                       <div class="card-body ">
                           <h5 class="card-title " th:text="${lineup.Festivalname()} ">festival</h5>
                           <p class="card-text " th:text="|${lineup.bandnames} Bands| ">the strokes</p>
                           <p class="card-text " th:text="|${lineup.lineupUhrzeiten} Schedule| ">12:15</p>
                       </div>
                   </div>
               </div>
           </div>  -->

    <div class="container" th:each="lineup : ${lineup}" >
        <div class="row">
            <div class="col">
                <h1><span th:text="${lineup.Festivalname}"> Festival 1</span></h1>
                <table class="table">
                    <thead><tr>
                        <th scope="col">Uhrzeit</th>
                        <th scope="col">Bands</th>
                        <th scope="col">Bühnen</th>

                    </tr></thead>
                    <tbody><tr  th:each="lineup : ${lineup}">
                        <td>
                            <span th:text="${lineup.getLineupUhrzeiten()}"> 12:50</span>
                        </td>
                        <td>
                            <span th:text="${lineup.getBandnames()}"> the strokes </span>
                        </td>
                        <td>
                            <span th:text="${lineup.getStages()}"> stage 1 </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <a href="/" class="btn btn-primary btn-lg " tabindex="-1" role="button" >Zurück zu Festival</a>
    </div>
</section>
</body>
</html>
