<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=${lineup.Festivalname})}">
<head>
</head>
<body>
<section layout:fragment="content">
    <div class="container" th:each="lineup : ${lineup}" >
        <div class="row">
            <div class="col">
                <h1><span th:text="${lineup.Festivalname}"> Festival 1</span></h1>
                <table class="table">
                    <thead><tr>
                        <th scope="col">Uhrzeit</th>
                        <th scope="col">Bands</th>
                        <th scope="col">Bühnen</th>
                        <th scope="col">Preis</th>


                    </tr></thead>
                    <tbody> <tr  th:each="lineup : ${lineup}">
                        <td>
                            <div th:each="hour : ${lineup.getLineupUhrzeiten()}">
                                <div>
                                    <p th:text="${hour}"></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div th:each="band : ${lineup.getBandnames()}">
                                <div>
                                    <p th:text="${band}"></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div th:each="stage : ${lineup.getStages()}">
                                <div>
                                    <p th:text="${stage}"></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div th:each="prices : ${lineup.getPriceOfBands()}">
                                <div>
                                    <p th:text="${prices}"></p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="position: relative ; left:0px ; top:100px; background-color:yellow;">

        <form class="ui reply form" role="form" th:action="@{/lineup/{id}/editband/selectname (id=${lineup.id})}" method="post">

            <div class="mb-3">
                <label for="name1" class="form-label" th:text="#{lineup.band.name.edit}">Name</label>
                <select type="text" th:field="*{bandname.name1}" class="form-select " id="name1">
                    <option th:each="bands: ${lineup.getBands()}" th:value="${bands.name1}"  th:text="${bands.getName1()}">
                </select>
                <div th:if="${#fields.hasErrors('bandname.name1')} " th:errors="*{bandname.name1}">
                    <p th:text="#{festival.not_empty} ">Das Feld darf nicht leer sein.</p>
                </div>
            </div>
            <button type="submit" class="ui labeled icon button">
                <i class="icon edit"></i><span> Select band to Edit </span>
            </button>

        </form>
    </div>
</section>
</body>
</html>