<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
</head>

<body>
    <section layout:fragment="content">
        <!-- BEGIN:DETAIL -->
        <div class="container">
            <div class="row d-flex justify-content-center">
                <form style="margin-top: 50px;" method="post" role="form" th:action="@{/location/new}" th:object="${location}">
                    <input type="number" name="id" th:field="*{id}" id="id" style="display: none;" value="100">
                    <div class="mb-3">
                        <label for="name" class="form-label" th:text="#{location.name}">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name">
                        <div th:if="${#fields.hasErrors( 'name' )}" th:errors="*{name}">
                            <p th:text="#{festival.not_empty}">Das Feld darf nicht leer sein.</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="maxVisitors" class="form-label" th:text="#{location.maxVisitors}">max
                            Visitors</label>
                        <input type="number" th:field="*{maxVisitors}" class="form-control" id="maxVisitors">
                        <div th:if="${#fields.hasErrors( 'maxVisitors' )}" th:errors="*{maxVisitors}">
                            <p th:text="#{festival.not_empty}">Das Feld darf nicht leer sein.</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="maxStages" class="form-label" th:text="#{location.maxStages}">max
                            Stages</label>
                        <input type="number" th:field="*{maxStages}" class="form-control" id="maxStages">
                        <div th:if="${#fields.hasErrors('maxStages')}" th:errors="*{maxStages}">
                            <p th:text="#{festival.not_empty}">Das Feld darf nicht leer sein.</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="rent" class="form-label" th:text="#{location.rent}">rent</label>
                        <input type="number" th:field="*{rent}" class="form-control" id="rent" step="0.01" onchange="validate_rent(this)">
                        <div th:if="${#fields.hasErrors( 'rent' )}" th:errors="*{rent}">
                            <p th:text="#{festival.not_empty}">Das Feld darf nicht leer sein.</p>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" th:text="#{location.add}">Submit</button>
                </form>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/resources/js/location_validator.js}" src="../static/resources/js/location_validator.js"></script>
        <!-- END:DETAIL -->
        <script type="text/javascript">
            document.querySelector("#id").value = 100;
        </script>
    </section>
</body>