<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

  <script th:src="@{/webjars/jquery/jquery.min.js}"
          src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
          src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
  <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
        href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
  <link th:href="@{/resources/css/login.css}" rel="stylesheet"
        href="../static/resources/css/login.css" type="text/css"/>
</head>

<body class="text-center">

<section layout:fragment="form-login">
  <form class="ui form" role="form" th:action="@{/login}" method="post">

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <label th:text="#{login.username}" for="username">Username</label>
      <input  type="text" id="username" name="username" autofocus="autofocus"/> <br/>
    </div>

    <div class="form-floating">
      <label th:text="#{login.password}" for="password">Password</label>
      <input type="password" id="password" name="password"/> <br/>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>

    <button type="submit" th:text="#{login.login}" class="ui button">Log in</button>
  </form>
</section>
</body>
</html>