<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout.html(title=#{register.title})}">
<head>
    <style>
        body{
        background: #2779e2;
        }
    </style>
</head>
<body>
<section layout:fragment="content" class="vh-100">
    <form method="post" role="form"  id="form" th:action="@{/new_personal}" th:object="${userForm}">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-9">

                <h1 class="text-white mb-4" th:text="#{register.userdata}">Nutzerdaten</h1>

                <div class="ui negative message" th:if="${#fields.hasErrors('*')}">
                    <p>Einige Angaben sind nicht korrekt.</p>
                </div>

                <div class="card" style="border-radius: 15px;">
                    <div class="card-body">

                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-3 ps-5">
                                <h6 class="mb-0" th:text="#{register.name}">Name</h6>
                            </div>
                            <div class="col-md-9 pe-5">
                                <input class="form-control form-control-lg" id="name" name="name" th:field="*{name}" th:errorclass="fieldError" type="text" required="required"/><br/>
                                <div class="ui negative message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                                    <p>Der Name darf nicht leer sein.</p>
                                </div>
                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-3 ps-5">
                                <h6 class="mb-0" th:text="#{register.password}">Password</h6>
                            </div>
                            <div class="col-md-9 pe-5">
                                <input class="form-control form-control-lg" id="password" name="password" th:field="*{password}" th:errorclass="fieldError" type="password"
                                       required="required"/><br/>
                                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Das Passwort darf
                                    nicht leer sein.</p>
                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-3 ps-5">
                                <h6 class="mb-0" th:text="#{register.address}">Address</h6>
                            </div>
                            <div class="col-md-9 pe-5">
                                <input class="form-control form-control-lg" id="address" name="address" th:field="*{address}" th:errorclass="fieldError" type="text"
                                       required="required"/><br/>
                                <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Die Adresse darf
                                    nicht leer sein.</p>
                            </div>
                        </div>


                        <hr class="mx-n3">

                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-3 ps-5">
                                <h6 class="mb-0" th:text="#{register.position}">Position</h6>
                            </div>
                            <div class="col-md-9 pe-5">
                                <input placeholder="Catering/ Planning/ Festivalleiter" class="form-control form-control-lg" id="position" name="position" th:field="*{position}" th:errorclass="fieldError" type="text"
                                       required="required"/><br/>
                                <p th:if="${#fields.hasErrors('position')}" th:errors="*{position}">Die Position darf
                                    nicht leer sein.</p>
                            </div>
                        </div>

                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-3 ps-5">
                                <h6 class="mb-0" th:text="#{register.workplace}">Work Place</h6>
                            </div>
                            <div class="col-md-9 pe-5">
<!--                                <input class="form-control form-control-lg" id="workPlace" name="workPlace" th:field="*{workPlace}" th:errorclass="fieldError" type="text"-->
<!--                                       required="required"/><br/>-->
                                <select class="form-select" th:field="*{workPlace}" aria-label="Workplace Select">
                                    <option th:each="location : ${locations}" th:value="${location.name}"
                                            th:text="${location.name}">
                                </select>
                            </div>
                        </div>


                        <hr class="mx-n3">

                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-3 ps-5">
                                <h6 class="mb-0">Festival</h6>
                            </div>
                            <div class="col-md-9 pe-5">
                                <select class="form-select" aria-label="Default select example" th:field="*{festivalId}">
                                    <option th:each=" festival : ${festivals}" th:value="${festival.id}" th:text="${festival.name}"></option>
                                </select>
                            </div>
                        </div>


                        <hr class="mx-n3">
                        <div class="px-5 py-4">
                            <button type="submit" class="btn btn-primary btn-lg"  th:text="#{register.submit}">Create Account</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    </form>
</section>
</body>
</html>